#	$OpenBSD: sshd_config,v 1.101 2017/03/14 07:19:07 djm Exp $

#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

# Ciphers and keying
#RekeyLimit default none

# Logging
#SyslogFacility AUTH
#LogLevel INFO

# Authentication:
PermitRootLogin no
MaxAuthTries 5
MaxSessions 10
#PubkeyAuthentication yes
UsePAM yes

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication yes
#PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

X11Forwarding yes
PrintMotd no
#PrintLastLog yes
#TCPKeepAlive yes

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*
# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server
